*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:arial;
}
body{
    background-color: #060c20;
}
.box{
    width:100%;
    position: absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:40px 0 ;
    text-align: center;
    cursor: pointer;
}
.box img{
    width:150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
}
.box h1{
    font-size: 4rem;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
}
.box p{
    font-size: 1.4rem;
    color:#fff;
    font-weight: 600;
}
.main_div{
    margin-top: 40px;
    flex-wrap: wrap;
    display: flex;
    justify-content:center;
}
.main_div a{
    text-decoration: none;
    color:#fff;
    padding:12px 40px;
    border:.5px solid #fff;
    margin: 20px 40px;
    font-size: 1.8rem;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.main_div a span{
    width:0;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background-color: #fff;
    z-index: -1;
    transition: 0.5s;
}
.main_div a:hover span{
    width:100%;  
}
.main_div a:hover{
    color:#060c21; 
}